:host {
    display: block;
    width: 50%;
    padding: 1rem 2rem;
    line-height: 1.5;
    text-align: center;
    margin: 0 auto;
    box-sizing: border-box;
}

#titulo {
    color: brown;
    font-size: 3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

@media (max-width: 1024px) {
    :host {
        width: 70%;
    }
}

@media (max-width: 768px) {
    :host {
        width: 80%;
    }
}

@media (max-width: 480px) {
    :host {
        width: 95%;
    }
}