<form class="form" [formGroup]="productForm" (ngSubmit)="onSubmit()">
  <div class="section">
    <div class="campo">
      <label for="nombre">Nombre:</label>
      <input id="nombre" type="text" formControlName="nombre">
    </div>

    <div class="campo">
      <label for="categoria">Categoría:</label>
      <input id="categoria" type="text" formControlName="categoria">
    </div>
  </div>

  <div class="section">
    <div class="campo">
      <label for="marca">Marca:</label>
      <input id="marca" type="text" formControlName="marca">
    </div>

    <div class="campo">
      <label for="precio">Precio:</label>
      <input id="precio" type="number" formControlName="precio">
    </div>
  </div>

  <div class="section">
    <div class="campo">
      <label for="stock">Stock:</label>
      <input id="stock" type="number" formControlName="stock">
    </div>

    <div class="campo archivo">
      <label for="imagen">Imagen:</label>
      <div class="vista-previa-archivo">
        {{ selectedFile?.name || 'Ningún archivo seleccionado' }}
      </div>
      <div class="campo archivo-boton">
        <label class="boton-archivo" for="imagen">Seleccionar archivo</label>
        <input id="imagen" type="file" hidden (change)="onFileSelected($event)">
      </div>
    </div>
  </div>

  <div class="campo">
    <label for="nasaId">NASA ID:</label>
    <input id="nasaId" type="text" formControlName="nasaId">
  </div>

  <div class="checkbox-group">
    <label for="disponibilidad">Disponibilidad:</label>
    <input id="disponibilidad" type="checkbox" formControlName="disponibilidad">
  </div>

  <div class="campo">
    <label for="descripcion">Descripción:</label>
    <textarea id="descripcion" formControlName="descripcion" rows="10"></textarea>
  </div>

  <button type="submit" [disabled]="productForm.invalid">Guardar</button>
</form>
