<div class="pie-pagina" [class.dark-theme]="(themeService.darkTheme$ | async)">

    <div class="contenido-pie">
        <div class="pie-izquierda">
            <h3>cosmicatelier</h3>
            <div class="datos">
                <p>Brandom Javier Becerra Davila</p>
                <p>Francisco Javier Sanchez Vallin</p>
            </div>
        </div>

        <div class="pie-derecha">
            <p>Síguenos:</p>
            <div class="redes">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </div>
    <hr>
    <p>&copy; Esta es una página con fines estudiantiles, no hacer caso.</p>
</div>