<div class="footer" [class.dark-theme]="(themeService.darkTheme$ | async)">

    <div class="content">
        <div class="footer-left">
            <h3>Mi Empresa</h3>
            <div class="datos">
                <p>datos</p>
                <p>datos</p>
            </div>
        </div>

        <div class="footer-right">
            <p>Síguenos:</p>
            <div class="redes">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </div>
    <hr>
    <p>&copy; 2026 Todos los derechos reservados</p>
</div>