<nav class="barra-navegacion" [class.dark-theme]="(themeService.darkTheme$ | async)">
  <div class="logo">Bienvenido</div>

  <!-- Botón de menú hamburguesa para pantallas pequeñas -->
  <div class="boton-menu" (click)="menuActivo = !menuActivo">
    <span></span>
    <span></span>
    <span></span>
  </div>

  <!-- Enlaces de navegación principales -->
  <ul class="enlaces-navegacion" [class.active]="menuActivo">
    <li><a routerLink="/inicio">Inicio</a></li>
    <li><a routerLink="/productos">Productos</a></li>
    <li><a routerLink="/altas">Agregar</a></li>
    <li>
      <button (click)="toggleTheme()" class="boton-tema">
        <i class="fas fa-sun"></i>
        <i class="fas fa-moon"></i>
      </button>
    </li>
  </ul>
</nav>
